#intro {
  height: 100%;
  width: 100%;
  display: inline-block;
}

#Hero {
  position:fixed;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-size: cover;
  margin: 0;
  padding: 0;
  z-index: -1;
}
#HeroText {
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#HeroText #Title {
  font-size: 50px;
  margin-bottom: 1.4rem;
}
#HeroText #Subtitle {
  font-size: 24px;
}

#SubIntro {
  max-height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding-top: 5em;
}
#SubIntro #Title {
  color: #393939;
  font-size: 32px;
  font-weight: bold;
}
#SubIntro #Subtitle {
  display: flex;
  justify-content: space-evenly;
  color: #393939;
  font-size: 24px;
  font-weight: bold;
}
#SubIntro #Subtitle #item {
  text-align: center;
  padding-top: 2rem;
}

#SubIntro img {
  max-width: 120px;
}

#MePhoto {
  width: 100%;
  background-color: white;
  text-align: center;
}
#MePhoto img {
  width: 400px;
  max-width: 80%;
  border-radius: 3.125em;
  height: auto;
  margin-top: 5em;
}

.BodyTitle {
  font-size: 50px;
}

#Professional {
  width: 100%;
  padding-top: 5em;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.ProItem {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  padding-left: 10%;
  padding-right: 10%;
}
.ProIcon {
  flex-grow: 3;
  width: 100%;
}
.ProIcon img {
  max-width: 160px;
}
.ProTimeframe {
  flex-grow: 1;
  width: 100%;
  color: #4f755e;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.ProText {
  flex-grow: 3;
  width: 100%;
  text-align: left;
}
.ProText #title {
  width: 100%;
  display: inline-block;
  color: #4f755e;
  font-size: 18.8px;
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.ProText #subtitle {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #4f755e;
}
.ProText #subsubtitle {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 13.3px;
  color: #4f755e;
}
.ProText #description {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  color: #555;
  padding-top: 0.5rem;
  font-family: 'Martel', serif;
  line-height: 1.5;
}

#Personal {
  width: 100%;
  padding-top: 5em;
  text-align: center;
  background-color: white;
}

#PersonalContent {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  padding-left: 10%;
  padding-right: 10%;
}

#PersonalPhoto {
  flex-grow: 1;
  width: 100%;
}
#PersonalPhoto img {
  max-width: 160px;
}
#PersonalParagraph {
  width: 100%;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
  font-family: 'Martel', serif;
}
#PersonalLinks {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#PersonalLinks a {
  text-decoration: none;
}