body {
  padding: 0px 0;
  margin: 0;
  font: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #555;
}

.wrapper {
  position: absolute;
  top:55px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
  text-align: center;
}

header, section, footer {
  display: block;
}

a {
  color: #069;
  text-decoration: none;
}

p {
  font-family: 'Martel', serif;
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}

header {
  background: #fff;
  height: 35px;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0px 2px rgba(0,0,0,.4);
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}
header #options {
    text-align: center;
    width: 200px;
    margin: auto;
}
header h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-variant: small-caps;
  line-height: 1.2;
  padding-top: 10px;
  color: #555;
}
header a {
  color: #555;
}
section {
  width: 500px;
  margin: auto;
  padding: 15px 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}


h1, h2, h3 {
  line-height: 2;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  color: #393939;
}

h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-variant: small-caps;
}

h3, h4, h5, h6 {
  color: #494949;
}

blockquote {
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-style: italic;
  background: #ccc;
  background: rgba(0, 0, 0, 0.06);
  color: #222;
}

img {
  padding: 50px 0 50px 0;
  max-width: 100%;
}

small {
  font-size: 14px;
}

hr {
  border: 0;
  background: #fff;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  background: #fff;
  height: 30px;
  width: 100%;
  margin: 0 auto;
}
footer a {
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
footer p {
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  .wrapper {
    width: 100%;
  }

  footer {
    padding: 10px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }
}
@media print, screen and (max-width:580px) {
  header ul {
    display: none;
  }

  header p.view {
    display: block;
  }

  header p {
    width: 100%;
  }
}
@media print {
  header p.view a small:before {
    content: 'at http://github.com/';
  }
}
